<!-- 页脚部分开始 -->
		<div id="footer">
			<div class="foot_top">
				<div class="foot_link">
					<a href="" target="_blank">公司简介</a> |  
					<!--a href="__APP__/Map/map" target="_blank">网站地图</a--> 
					<a href="" target="_blank">保护隐私</a> | 
					<a href="" target="_blank">版权信息</a> | 
					<a href="" target="_blank">客户服务</a> |
					<a href="" target="_blank">电影之家</a> | 
					<a href="" target="_blank">联系我们</a> 
					
				</div>
			</div>
			
			<div class="foot_content">
			  Copyright&#2016 ? All Rights Reserved. 华领（深圳）网络科技有限公司版权所有 未经授权禁止复制<br>
			 深圳市公安局lg分局 备案粤ICP备16019243号
			</div>
		</div>
<!-- 页脚部分结束 -->