<style type="text/css">
	.com {
		border:1px solid #B8D0D6;
		border-bottom: 0px;
		padding: 5px;
		margin:  5px 5px 0 5px; 
		background-color: #C0C0C0;
	}
	.mcom {
		border:1px solid #B8D0D6;
		padding: 3px;
		margin:  0px 5px 5px 5px; 
		
	}
	.method {
		display: inline-block;
		padding-left:3px; 
		width: 140px;
		height:18px;
		line-height: 18px;
		margin: 3px 3px 3px 15px;
		background-color: #ccffcc;
	}

</style>

<script type="text/javascript">
	$(function(){

		/*$("input[level=1]").click(function(){
			var inputs = $(this).parents('.app').find('input');
			$(this).attr('checked') ? inputs.attr('checked', 'checked') : inputs.removeAttr('checked');
		})*/

		$("input[level=2]").click(function(){
			var inputs = $(this).parents('.action').find('input');
			$(this).attr('checked') ? inputs.attr('checked', 'checked') : inputs.removeAttr('checked');
		})
	});
</script>

<form method="post" action="__URL__/setAccess/navTabId/listrole/callbackType/closeCurrent" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
	<div class="pageFormContent" layoutH="98">

	<input type="hidden" name="rid" value="{$rid}" />
	
	{foreach $list as $app}
	<fieldset style="border:1px solid #D8D0D6;margin:5px;paddng:5px;" class="app">

    	<legend style="border:1px solid #B8D0D6; padding:5px;"> <input type="checkbox" name="access[]" value="{$app.id}_1" level="1" checked="checked"/>{$app.title}
    	</legend>
    	{foreach $app.child as $action}
    	<div class="action">
    		<div class="com">
    			<input type="checkbox" name="access[]" value="{$action.id}_2" level="2" {if $action['access'] == 1}checked="checked"{/if}/>{$action['title']} 
    		</div>
    		<div class="mcom">
    		{foreach $action.child as $method}
    			<span class="method"><input type="checkbox" name="access[]" value="{$method.id}_3" level="3" {if $method['access'] == 1}checked="checked"{/if}/>{$method.title}</span>
    		{/foreach}
    		</div>
    	</div>
    	{/foreach}
    	
  	</fieldset>
  	{/foreach}

	</div>
	<div class="formBar">
		<ul>
			<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
			<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
			</li>
		</ul>
	</div>
</form>
