<style type="text/css">
	.com {
		border:1px solid #B8D0D6;
		border-bottom: 0px;
		padding: 5px;
		margin:  5px 5px 0 5px; 
		background-color: #C0C0C0;
	}
	.mcom {
		border:1px solid #B8D0D6;
		padding: 3px;
		margin:  0px 5px 5px 5px; 
		
	}
	.method {
		display: inline-block;
		padding-left:3px; 
		width: 120px;
		height:18px;
		line-height: 18px;
		margin: 3px 3px 3px 15px;
		background-color: #ccffcc;
	}

</style>

<!-- <h2 class="contentTitle">添加节点</h2> -->

<div class="pageContent" layoutH="42">

	{foreach $list as $app}
	<fieldset style="border:1px solid #D8D0D6;margin:5px;paddng:5px;" class="app">
    	<legend style="border:1px solid #B8D0D6; padding:5px;">{$app.title} [<a style="color:blue;" target="dialog" href="__URL__/addNode/pid/{$app.id}/level/2"> 添加控制器 </a>]
    	</legend>
    	{foreach $app.child as $action}
    		<div class="com">
    		{$action['title']} [ <a style="color:blue" target="dialog"  href="__URL__/addNode/pid/{$action['id']}/level/3"> 添加方法 </a> ]
    		</div>
    		<div class="mcom">
    		{foreach $action.child as $method}
    			<span class="method">{$method.title}</span>
    		{/foreach}
    		</div>
    	{/foreach}
    	
  	</fieldset>
  	{/foreach}
	
</div>