
<div class="pageContent">
	<form method="post" action="__URL__/update/navTabId/listlevel/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<input type="hidden" name="id" value="{$vo.id}" />
		<div class="pageFormContent" layoutH="60" style="padding-right:100px;">
				<dl class="nowrap">
					<dt>等级位置：</dt>
					<dd><input name="level" type="text" value="{$vo.level}" /></dd>
				</dl>
		
				<dl class="nowrap">
					<dt>级别名称：</dt>
					<dd><input name="levelname" type="text" value="{$vo.levelname}" /></dd>
				</dl>
				
				<dl class="nowrap">
					<dt>积分限制：</dt>
					<dd><input name="lscore" type="text" value="{$vo.lscore}" /></dd>
				</dl>

		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存修改</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

