
<div class="pageContent">

	<form method="post" enctype="multipart/form-data" action="__URL__/update/navTabId/listactor" class="pageForm required-validate" onsubmit="return iframeCallback(this, navTabAjaxDone);">

		<input type="hidden" name="id" value="{$vo.id}" />
		<input type="hidden" name="picname" value="{$vo.picname}" />

		<div class="pageFormContent" layoutH="56">
			<p>
				<label>中 文 名：</label>
				<input name="cname" class="required" type="text" size="30" value="{$vo.cname}" alt=""/>
			</p>
			<p>
				<label>英 文 名：</label>
				<input name="ename" class="required" type="text" size="30" value="{$vo.ename}" alt=""/>
			</p>
			
			<p>
				<label>性 别：</label>
				<input type="radio" value="1" name="sex" {if $vo['sex'] == 1} checked {/if} />男
				<input type="radio" value="0" name="sex" {if $vo['sex'] == 0} checked {/if} />女
			</p>
			<p>
				<label>星座：</label>
				<select name="constellation" class="required combox" size="30">
					<option value="" selected>- - 请选择 - -</option>
					<option value="白羊座" {if $vo.constellation == "白羊座"} selected {/if}>白羊座</option>
					<option value="金牛座" {if $vo.constellation == "金牛座"} selected {/if}>金牛座</option>
					<option value="双子座" {if $vo.constellation == "双子座"} selected {/if}>双子座</option>
					<option value="巨蟹座" {if $vo.constellation == "巨蟹座"} selected {/if}>巨蟹座</option>
					<option value="狮子座" {if $vo.constellation == "狮子座"} selected {/if}>狮子座</option>
					<option value="处女座" {if $vo.constellation == "处女座"} selected {/if}>处女座</option>
					<option value="天秤座" {if $vo.constellation == "天秤座"} selected {/if}>天秤座</option>
					<option value="天蝎座" {if $vo.constellation == "天蝎座"} selected {/if}>天蝎座</option>
					<option value="射手座" {if $vo.constellation == "射手座"} selected {/if}>射手座</option>
					<option value="魔蝎座" {if $vo.constellation == "魔蝎座"} selected {/if}>魔蝎座</option>
					<option value="水瓶座" {if $vo.constellation == "水瓶座"} selected {/if}>水瓶座</option>
					<option value="双鱼座" {if $vo.constellation == "双鱼座"} selected {/if}>双鱼座</option>
				</select>
			</p>
			<p>
				<label>出生日期：</label>
				<input type="text" name="birthday" class="date" size="30" value="{$vo.birthday|date_format:'%Y-%m-%d'}" /><a class="inputDateButton" href="javascript:;">选择</a>
			</p>
			<p>
				<label>出 生 地：</label>
				<input name="bornaddress" type="text" size="30" class="required" value="{$vo.bornaddress}" />
			</p>
			
			<p>
				<label>职 业：</label>
				<input name="professtion" type="text" size="30" class="required" value="{$vo.professtion}" />
			</p>

			<p>
				<label>演员头像：</label>
				<input type="file" name="picname" />
			</p>
			<div class="divider"></div>
			<p>
				<label>演员简介</label>
				<textarea class="editor" name="intro" rows="6" cols="100" tools="simple">{$vo.intro}</textarea>
			<p>
			
			
			
		</div>
		<div class="formBar">
			<ul>
				<!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>